@mixin grid($no) {
	&.grid-#{$no} {
		.editor-block-list__layout {
			grid-template-columns: repeat(#{$no}, 1fr);
		}
	}
}

#editor {
	.ss-block {
		textarea {
			background-color: transparent;
			color: inherit;
			vertical-align: top;
		}
	}
}

.ss-svg {
	width: 24px;
	height: 24px;
	vertical-align: top;
}

.ss-block {
	border: 1px dashed #eaeaea;
}

.ss-block__list {
	.editor-inner-blocks {
		width: 100%;
	}
	.editor-block-list__layout {
		width: 100%;
		display: grid;
		padding: 0;
		gap: 20px;
		margin: 0;
		grid-template-columns: repeat(3, 1fr);
		.wp-block {
			padding: 0;
			.editor-block-list__block-edit {
				margin: 0;
			}
		}
	}
	@include grid(1);
	@include grid(2);
	@include grid(3);
	@include grid(4);
	@include grid(5);
}
