.hero {
	background-color: $primary-color;
	padding: 70px 0 100px 0;
	position: relative;
	background-image: url('data:image/svg+xml;utf8,<svg width="1427px" height="62px" version="1.1" xmlns="http://www.w3.org/2000/svg"> <path fill="%23ffffff" d="M0,61.5096972 L0,21.2345278 C133.459836,-7.65616058 275.2135,-7.06637676 425.260993,23.0038792 C654.834989,69.0116362 848.974775,69.0116362 1056.9071,23.0038792 C1193.69183,-7.26153998 1317.05613,-7.66257445 1427,21.8007758 L1427,61.5096972 L0,61.5096972 Z"></path></svg>');
	background-size: contain;
	background-repeat: no-repeat;
	background-position: bottom -5px center;
}

.hero__wrap {
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.hero__image {
	flex: 0 0 40%;
	img {
		width: 100%;
	}
}

.hero__content {
	padding-left: 50px;

	h3 {
		font-size: 40px;
		background: #000;
		color: #fff;
		padding: 10px 15px;
		line-height: 1;
		font-weight: 600;
		margin: 0px;
		display: inline-block;
		& + h3 {
			margin-top: 10px;
		}
	}
}

.hero__desc {
	display: block;
	margin: 20px 0;
}

@include md-down {
	.hero {
		overflow: hidden;
		.home-pattern {
			left: -10px;
			right: -10px;
			bottom: -1px;
		}
	}
	.hero__content {
		h3 {
			font-size: 30px;
		}
	}
	.hero {
		padding: 50px 0 !important;
	}
}

@include sm-down {
	.hero {
		padding: 50px 30px !important;
		.ss-container {
			padding: 0px !important;
		}
	}
	.hero__content h3 {
		font-size: 25px;
	}
}

@include xs-down {
	.hero {
		padding: 50px 30px !important;
	}
	.hero__wrap {
		display: block;
	}
	.hero__content {
		padding: 30px 0px 0px 0px;
	}
}

@include xxs-down {
	.hero {
		padding: 50px 20px !important;
	}
}
